<!DOCTYPE html>
<include:include/common.html/>
<?D
import std.conv: to;
// get the items
DBItem[] r = items.find!(DBItem)().array!DBItem;
DBItem[] q;
string searchVal = getParameter(req.requestURI, "search").toLower;
string[] searchParams = searchVal.split("+");
writeln(searchParams);
foreach(item; r)
{
    if (searchParams.length > 0)
    {
        string fqn = item.fullyQuallifiedName.toLower;
        bool match = false;
        foreach(p; searchParams)
        {
            if (fqn.indexOf(p) != -1)
            {
                match = true;
                break;
            }    
        }
        if (match)
            q ~= item;
    }
    else
        q ~= item;
}

long maxPages = calculatePages(q.length);
// sort the items

// go to the desired page
int page;
string params;
auto idx = req.requestURI.indexOf('?');
idx = idx == -1 ? req.requestURI.length : idx;
if (req.requestURI.length >= 12 && req.requestURI[0..12] == "/browse/page")
{
    string pageStr = req.requestURI[12..idx];
    params = req.requestURI[idx..$];
    page = pageStr.to!int;
}
else
{
    params = req.requestURI[idx..$];
    page = 1;
}
if (page > maxPages)
{
    res.redirect("/browse/page1" ~ params);
    return;
}
else if (page <= 0)
{
    res.redirect("/browse/page1" ~ params);
    return;
}
auto bounds = getItemsOnPage(page, cast(int)q.length);
q = q[bounds[0]..bounds[1]];
/?>
<html>
    <head>
        <title>Goose Trading: Browse</title>
        <include:include/head.html/>
    </head>
    <include:include/navbar.html/>
    <body>
        <include:include/body.html/>
        <script>
            $("#search").submit(function(event) {
                event.preventDefault();
                var uri = new URL(window.location);
                var sort = uri.searchParams.get("sort");
                var searchVal = $("search-data").val();
                uri.searchParams.set("search", encodeURIComponent(searchVal));
                window.location = uri.toString();
            });
        </script>
        <section class="section">
            <div class="container box">
                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th><abbr class="clickable" title="Name">Name</abbr></th>
                            <td><abbr class="clickable" title="StatTrak">StatTrak</abbr></td>
                            <td><abbr class="clickable" title="Condition">Condition</abbr></td>
                            <td><abbr class="clickable" title="Volume">Volume</abbr></td>
                            <td><abbr class="clickable" title="Lowest Price">Lowest Price</abbr></td>
                            <td><abbr class="clickable" title="Median Price">Median Price</abbr></td>
                        </tr>
                    </thead>
                    <tfoot>
                        <nav class="pagination is-small" role="navigation" aria-label="pagination">
                            <form id="search">
                                <div class="field" style="order: 2; margin-bottom: 0;">
                                    <div class="control has-icons-left">
                                        <input id="search-data" class="input is-rounded" name="search" placeholder="search">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <ul class="pagination-list">
                                <!-- <li>
                                    <a class="pagination-link is-current" aria-label="Page 1">1</a>
                                </li> -->
                                <?D
                                    output(a(`<i class="fas fa-chevron-left"></i>`, [
                                        "class":`"pagination-link"`,
                                        "href": "/browse/page" ~ (page-1).text ~ params,
                                        (page == 1 ? "disabled" : ""):""
                                    ]));
                                    if (page > 2)
                                    {
                                        output(a("1", [
                                                "class":`"pagination-link"`,
                                                "href":`"/browse/page1` ~ params ~ `"`
                                            ]));
                                        output(`<li><span class="pagination-ellipsis">&hellip;</span></li>`);
                                    }
                                    for (int i = page - 1; i <= page + 1; i++)
                                    {
                                        if (i >= 1 && i <= maxPages)
                                        {
                                            output(a(i.text, [
                                                "class":`"pagination-link` ~ (page == i ? " is-current" : "") ~ `"`,
                                                "href":`"/browse/page` ~ i.text ~ params ~ `"`
                                            ]));
                                        }
                                    }
                                    if (page < maxPages - 2)
                                    {
                                        output(`<li><span class="pagination-ellipsis">&hellip;</span></li>`);
                                        output(a((maxPages).text, [
                                                "class":`"pagination-link"`,
                                                "href":`"/browse/page` ~ (maxPages).text ~ params ~ `"`
                                            ]));
                                    }
                                    output(a(`<i class="fas fa-chevron-right"></i>`, [
                                        "class":`"pagination-link"`,
                                        "href": "/browse/page" ~ (page+1).text ~ params,
                                        (page == maxPages ? "disabled" : ""):""
                                    ]));
                                /?>
                            </ul>
                        </nav>
                    </tfoot>
                    <tbody>
                        <?D
                            foreach(e; q)
                            {
                                output(e.toTableRow());
                            }
                        /?>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>