<!DOCTYPE html>
<include:include/common.html/>
<html>
    <head>
        <title>Goose Trading: Home</title>
        <include:include/head.html/>
    </head>
    <include:include/navbar.html/>
    <body>
        <include:include/body.html/>
        <section class="section">
            <div class="container">
                <div class="has-text-centered">
                    <h1 class="title">Market Overview</h1>
                    <br>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="has-text-centered">
                                <strong class="semi-title">Highest Volume Delta</strong>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="has-text-centered">
                                <strong class="semi-title">Market Statistics</strong>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="has-text-centered">
                                <strong class="semi-title">Market Predictions</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>