<!DOCTYPE html>
<include:include/common.html/>
<?D
if (!validateItemURI(req.requestURI[6..$]))
{
    res.redirect("/error");
    return;
}
auto item = getItemFromURI(req.requestURI[6..$]);
if (item == Bson(null))
{
    res.redirect("/error");
    return;
}
/?>
<html>
    <head>
        <title>Goose Trading: <?D output(cast(string)item["name"]); /?></title>
        <include:include/head.html/>
        <!-- Plot.ly js -->
        <script src="/plotly-latest.min.js"></script>
    </head>
    <include:include/navbar.html/>
    <body>
        <include:include/body.html/>
        <section class="section">
            <div class="container">
                <h1 class="title"><?D output(cast(string)item["name"]); /?></h1>
                <article class="content">
                    <?D
                        output(b("Condition: ") ~ p(cast(string)item["condition"]));
                        output(b("StatTrak: ") ~ p(cast(bool)item["stattrak"] ? "yes" : "no"));
                    /?>
                    <div id="plot"></div>
                    <?D
                        // generate plot.ly data
                        int[] volume;
                        double[] lowest;
                        double[] median;
                        string[] dates;
                        foreach(doc; item["history"])
                        {
                            dates ~= cast(string)doc["date"];
                            volume ~= cast(int)doc["volume"];
                            lowest ~= cast(double)doc["lowest_price"];
                            median ~= cast(double)doc["median_price"];
                        }
                        JSONValue json = parseJSON("{}");
                        json["x"] = JSONValue(dates);
                        json["y"] = JSONValue(lowest);
                        sanitizeY(json["y"].array(), JSONType.float_);
                        json["name"] = JSONValue("lowest price");
                        json["mode"] = JSONValue("lines");
                        json["line"] = JSONValue(JSONValue(["shape": JSONValue("spline"), "width": JSONValue(3), "color": JSONValue("rgb(220, 70, 50)")]));
                        JSONValue data1 = json;
                        json = parseJSON("{}");
                        json["x"] = JSONValue(dates);
                        json["y"] = JSONValue(median);
                        sanitizeY(json["y"].array(), JSONType.float_);
                        json["name"] = JSONValue("median price");
                        json["mode"] = JSONValue("lines");
                        json["line"] = JSONValue(JSONValue(["shape": JSONValue("spline"), "width": JSONValue(3), "color": JSONValue("rgb(50, 170, 220)")]));
                        JSONValue data2 = json;
                        json = parseJSON("{}");
                        json["x"] = JSONValue(dates);
                        json["y"] = JSONValue(volume);
                        sanitizeY(json["y"].array(), JSONType.integer);
                        json["name"] = JSONValue("volume");
                        json["yaxis"] = JSONValue("y2");
                        json["line"] = JSONValue(JSONValue(["shape": JSONValue("linear"), "width": JSONValue(1),  "color": JSONValue("rgb(100, 100, 100)")]));
                        JSONValue data3 = json;

                        JSONValue plotData = JSONValue([data1, data2, data3]);
                        // writeln(plotData.toPrettyString());
                        
                        output(`
                        <script>
                            var data = ` ~ plotData.toString ~ `;
                            var layout = {
                                showlegend: true,
                                yaxis: {
                                    title: 'price',
                                    showgrid: false,
                                    autorange: true,
                                    rangemode: 'tozero'
                                },
                                yaxis2: {
                                    overlaying: 'y',
                                    side: 'right',
                                    title: 'volume',
                                    showgrid: false,
                                    autorange: true,
                                    rangemode: 'tozero'
                                }
                            };
                            Plotly.newPlot( document.getElementById('plot'), data, layout, {staticPlot: true});
                        </script>
                        `);
                    /?>
                </article>
            </div>
        </section>
    </body>
</html>