<?D
import web.db;
import tracking.item;
import tracking.market;
import std.uri: decode;
import vibe.data.bson;
import mood.templates;
import mood.vibe;
import std.typecons: Tuple, tuple;
import web.uri;
import std.json;
import std.string;

enum ITEMSPERPAGE = 30;

long calculatePages(long numItems)
{
    return (numItems / ITEMSPERPAGE) + 1;
}

Tuple!(int, int) getItemsOnPage(int pageNumber, int length)
{
    int startIdx = (pageNumber * ITEMSPERPAGE) - ITEMSPERPAGE;
    int endIdx = (pageNumber * ITEMSPERPAGE) > length ? length : pageNumber * ITEMSPERPAGE;
    return tuple(startIdx, endIdx);
}

// used to check if we are logged in or not
bool loggedIn()
{
    if (req.session)
        return true;
    return false;
}
if (!loggedIn()) 
{
    res.redirect("/login");
    return;
}

Bson getItemFromURI(string uri)
{
    string decoded = uri.decode;
    string name = decoded[0..decoded.indexOf('(')-1];
    bool statTrak = decoded.indexOf("StatTrak") >= 0;
    if (statTrak)
        name = name[12..$];
    string condition = decoded[decoded.indexOf('(')+1..$-1];
    // writeln("name: ", name);
    // writeln("condition: ", condition);
    // writeln("stattrak: ", statTrak);
    return priceTracking.findOne(Bson(["name": Bson(name), "condition": Bson(condition), "stattrak": Bson(statTrak)]));
}

bool validateItemURI(string uri)
{
    string decoded = uri.decode;
    decoded.writeln;
    if (decoded.indexOf('|') == -1
        || decoded.indexOf('(') == -1
        || decoded.indexOf(')') == -1)
        return false;
    return true;
}

void sanitizeY(ref JSONValue[] json, JSONType type)
{
    foreach(ref j; json)
    {
        if (type == JSONType.float_ && j.floating == 0.0)
        {
            j = JSONValue(null);
        }
        else if (type == JSONType.integer && j.integer == 0)
        {
            j = JSONValue(null);
        }
    }
}

/?>