<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <i class="fas fa-home"></i><p style="padding-left: 5px; font-size: 1.3em; font-family: 'Staatliches', cursive;">home</p>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/about">
                    about
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/about">
                        about us
                    </a>
                    <a class="navbar-item" href="/lingo">
                        lingo
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/browse">browse</a>
            <a class="navbar-item" href="/bot-statistics">bot statistics</a>
        </div>
        <div class="navbar-end">
            <p class="navbar-item">logged in as: <?D output(req.session.get!string("username")); /?></p>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p style="padding-left: 5px;">logout</p>
            </a>
        </div>
    </div>
</nav>